$icon-head{
    background-image: url(../img/header.png);
}

$icon-time{
    background-image: url(../img/time.png);
}

$icon-middle{
    background-image: url(../img/middle.png);
}

$icon-star-red{
    background-image: url(../img/star-red.png);
}

$icon-star-green{
    background-image: url(../img/star-green.png);
}

$icon-star-blue{
    background-image: url(../img/star-blue.png);
}

$icon-checked{
    background-image: url(../img/checked.png);
}

$icon-loading{
    background-image: url(../img/loading.png);
}

$icon-success{
    background-image: url(../img/success.png);
}

$icon-close{
    background-image: url(../img/close.png);
}

.icon{
    background-position: center ;
    background-size: contain;
    background-repeat: no-repeat;
}