{
    "presets": [
        /* ["@babel/preset-env", { 
            // Options配置查看：
            // https://babeljs.io/docs/en/babel-preset-env
            "useBuiltIns": "usage", // 按需引入
            "corejs": 2
        }] */
    ],
    "plugins": [
        // 使用 @babel/plugin-transform-runtime
        [
            "@babel/plugin-transform-runtime", 
            {
                // options配置see：https://babeljs.io/docs/en/babel-plugin-transform-runtime
                "corejs": 2
            }
        ]
    ]
}